---
name: Continuous Integration for Kafka versions

on:
  push:
    branches:
      - 'kafka/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Build with Maven
        run: |
          mvn -s .github/ci-maven-settings.xml -B \
            clean package -Dnative \
            -Dquarkus.native.container-build=true \
            -Dquarkus.container-image.build=true \
            -Dquarkus.container-image.additional-tags=latest
      - name: Integration Tests with Maven
        run: |
          mvn -s .github/ci-maven-settings.xml -B \
            clean verify -Dtest-container
      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-logs
          retention-days: 3
          path: kafka-native-test-container/target/container-logs/
